.divDashBoardH3P {
  display: flex;
  flex-direction: row;
  color: #03045e;
}

.divDashBoardH3 {
  font-size: 16px;
  margin-right: 10px;
  width: 200px;
}

.grayLine {
  background-color: #e6e6e6;
  margin: 10px;
  height: 2px;
  width: 100%;
}

.divCoursesCardStatus {
  cursor: pointer;
  margin: 5px;
  border: lightgray solid 1px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #888888;
  position: relative;
}

.btnCertificate {
  position: absolute;
  z-index: 3000;
}