.divMyAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;
}

.divMyAccountH1 {
  margin-top: 50px;
  color: #03045e;
}

.divMyAccountP {
  width: 60%;
  margin-top: 80px;
  color: #03045e;
}

.divMyAccountTextField {
  width: 60%;
  margin-top: 40px;
}

.divMyAccountButton {
  width: 60%;
  margin-top: 30px;
  justify-content: left;
}
