.divMainInstructorEditController {
    display: flex;
    flex-direction: column;

}

.divMainHeaderInstructorEdit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    height: 450px;
    width: 100%;
    margin: 0px;
}

.textOnInstructorEditBannerControl {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 450px;
    color: aliceblue;

}

.InstructorEditH3 {
    font-size: 2rem;

}

.InstructorEditH4Control {
    display: flex;
    flex-direction: row;
}

.InstructorEditH4 {
    font-size: 1.50rem;
}

.InstructorEditP {
    font-size: 1.25rem;

}

.InstructorEditContent {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.InstructorEditContentLeft {
    width: 60%;
}

.aboutThisMeControl {
    width: 80%;
    margin-left: 50px;
}

.aboutThisMeH4 {
    font-size: 2rem;
    font-weight: 600;

    color: #03045E;
}

.aboutThisMeP {
    font-size: 1.1rem;
    font-weight: 600;
    color: #03045E;
}

.grayLine {
    height: 2px;
    background-color: gray;
    width: 80%;
    margin-left: 50px;
    margin-top: 10px;
}

.divMoreFrontEndCourse {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 50px;
    align-items: center;
}

.divMoreFrontEndCourseHeader {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.InstructorEditCourseCardControl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    margin-top: 10px;
}

.SeeMoreControl {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px;
}

.SeeMoreP {
    cursor: pointer;
    margin: 0;
}

.divMoreFrontEndInstructor {
    margin-left: 50px;
    margin-top: 10px;
    width: 100%;
}

.InstructorEditContentRight {
    width: 40%;

}



.grayLineRight {
    height: 2px;
    background-color: gray;
    width: 100%;
    margin-top: 10px;
}

.InstructorEditContentRightButton {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.AreaOfExpertiseTagControllerP {
    margin: 5px;
}

.AreaOfExpertiseTagController {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.AreaOfExpertiseTagController {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.divH2InstructorEdit {
    background-color: #ADE8F4;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.InstructorEditH2 {
    margin: 0 auto;
}

.textFieldInstructorEditHeader {
    margin: 5px;
}

.spanInsEditImageUpload {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: 50%;
}

.textFieldInstructorEditHeader {
    display: flex;
    flex-direction: column;
}

.alertMuiInstDel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aquamarine;
}